{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Courtney Lee | Yoga Classes</title>
	<meta name="description" content="A smooth scrolling design with fixed sections.">
	<meta name="keywords" content="smooth scrolling, layout, frontend, css, javascript, web design">
	<meta name="author" content="Mufudzi Christopher">
	<link rel="icon shortcut" href="favicon.a64e97b2.ico">
	<link rel="stylesheet" href="https://use.typekit.net/lgy2swt.css">
	<link rel="stylesheet" type="text/css" href="{% static 'court/css/index.css' %}">
	<script>
	document.documentElement.className = "js";
	var supportsCssVars = function() {
		var e, t = document.createElement("style");
		return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
	};
	supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>

<body class="demo-4 loading">
	<main>
		<!-- <div class="frame">
			<div class="frame__title">
				<h1 class="frame__title-main">Scroll Panels</h1>
				<a aria-label="Back to the article" class="frame__title-back" href="https://tympanus.net/codrops/?p=65387"> <span class="oh__inner">Back to the article</span>
					<svg width="18" height="18" viewBox="0 0 24 24">
						<path vector-effect="non-scaling-stroke" d="M18.25 15.5a.75.75 0 0 0 .75-.75v-9a.75.75 0 0 0-.75-.75h-9a.75.75 0 0 0 0 1.5h7.19L6.22 16.72a.75.75 0 1 0 1.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z" />
					</svg>
				</a>
			</div> <a class="frame__prev" href="http://tympanus.net/Development/OnScrollViewSwitch/">Previous demo</a>
			<nav class="frame__demos">
				<h3 class="frame__demos-title">Effects</h3> <a class="frame__demos-item" href="index.html">01 <a class="frame__demos-item" href="index2.html">02</a> <a class="frame__demos-item" href="index3.html">03</a> <span class="frame__demos-item">04</span> <a class="frame__demos-item" href="index5.html">05</a> </a>
			</nav>
		</div> -->
		<section class="section section--intro">
			<h2 class="section__title">CourtneyLee's <br> YogaClasses</h2>
			<p class="section__text">Connect with your body, mind, and spirit. Create a sacred space where you can let go of distractions and tune into your own needs. Experience the profound healing benefits of a mindful practice.</p>
			<p class="section__text section__text--alt"> <span>Discover</span>
				<svg class="section__arrow" width="22" height="22" viewBox="0 0 24 24">
					<path vector-effect="non-scaling-stroke" d="M18.25 15.5a.75.75 0 0 0 .75-.75v-9a.75.75 0 0 0-.75-.75h-9a.75.75 0 0 0 0 1.5h7.19L6.22 16.72a.75.75 0 1 0 1.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z" />
				</svg> <span>Scroll</span> </p>
		</section>
		<section class="section section--columns">
			<div class="columns">
				<div class="column-wrap">
					<div class="column">
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/1.aff39bc3.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/2.2fa6cc26.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/3.6159f68b.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/6.a1367d9c.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/7.f482f327.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/27.48872dda.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/26.ea6e9e57.avif' %})"></div>
						</div>
					</div>
				</div>
				<div class="column-wrap">
					<div class="column">
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/20.38ad3e23.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/21.165ddc44.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/22.94e23353.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/5.d8edf092.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/25.d891525a.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/26.ea6e9e57.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/27.48872dda.avif' %})"></div>
						</div>
					</div>
				</div>
				<div class="column-wrap">
					<div class="column">
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/4.96814b66.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/1.aff39bc3.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/24.d90b6063.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/7.f482f327.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/21.165ddc44.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/22.94e23353.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/23.c3cbf389.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/24.d90b6063.avif' %})"></div>
						</div>
						<div class="column__item">
							<div class="column__item-img" style="background-image:url({% static 'court/images/25.d891525a.avif' %})"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--showcase">
			<header class="section__header"> <span class="section__year">Monday</span>
				<h2 class="section__title section__title--medium">Yoga <br> Classes</h2> <span class="section__year">Friday</span> </header>
			<div class="row">
				<div class="row__header"> <span>Monday [1pm - 3pm]</span> <span>Camps Bay Sunset</span> <span>My mind drifts to a place where I find you</span> </div>
				<div class="row__content">
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/8.7ef9268b.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/9.24e15c5a.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/19.f0885634.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/17.eeb89108.avif' %})"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row__header"> <span>Tuesday [1pm - 3pm]</span> <span>Seapoint Promenade</span> <span>Can we kiss with poison on our lips?</span> </div>
				<div class="row__content">
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/11.2a0f28ae.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/12.06c227ec.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/13.8391f9d4.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/1.aff39bc3.avif' %})"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row__header"> <span>Wednesday [1pm - 3pm]</span> <span> Newlands Catholic Church</span> <span>Take off your clothes and take off your mask</span> </div>
				<div class="row__content">
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/14.4a33558b.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/15.b0520adc.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/16.6f0bd98f.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/4.96814b66.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/2.2fa6cc26.avif' %})"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row__header"> <span>Thursday [1pm - 3pm]</span> <span>Observatory Temple </span> <span>It's not over now, I won't leave you in the dark</span> </div>
				<div class="row__content">
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/17.eeb89108.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/18.beb0863a.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/19.f0885634.avif' %})"></div>
					</div>
					<div class="row__content-imgwrap">
						<div class="row__content-img" style="background-image:url({% static 'court/images/6.a1367d9c.avif' %})"></div>
					</div>
				</div>
			</div>
			<p>Based on the effect seen on <a href="https://www.margotpriolet.com/">margotpriolet.com</a></p>
		</section>
	</main>
	<script type="module" src="{% static 'court/js/index4.6de50968.js' %}"></script>
	<script src="{% static 'court/js/index4.dadee363.js' %}" nomodule="" defer></script>
</body>

</html>
